

body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family:"Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background-color: black;
}

p {
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

h2 {
    margin: 0;
}

/* Navbar Styling */

.navbar {
    background-color: black;
    width: 100%;
    height: 72px;
    position: fixed;
    opacity: 0.9;
    top: 0px;
    display: flex;
}

.navLeftMenu {
    display: flex;
    flex-basis: 100%;
    text-align: center;
    width: 250px;
}

.navRightMenu{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navItem {
    width: 110px;
    height: 72px;
    color: lightgray;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400px;
    transition: background-color 75ms;
}
.navHome {
    margin: 0px;
}

.navItem:Hover {
    background-color: rgb(14, 14, 14);
    cursor: pointer;
}

.navItem:active {
    background-color: rgb(31, 31, 31)
}

.navBtn {
    width: 50px;
    height: 50px;
    vertical-align: center;
    margin-top: 9px;
    margin-right: 15px;
    border-bottom: 2px;
    background-color: transparent;
    transition: border-bottom 100ms;
}

.navBtn:hover {
    border-bottom: 2px groove white;
    cursor: pointer;
}

.navLinkedInImg, .navGitImg, .navReedImg {
    height: 34px;
    image-rendering: crisp-edges;

}

/*Navbar Styling Over */


/*Parralax Styling */

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.pimg1 {
    background-image:url(../images/pexels-nemuel-sereti-6424586.jpg);
    min-height:97%;
}

.pimg2 {
    background-image:url(../images/pexels-maxime-francis-2246476.jpg);
    min-height: 100%;
}

.pimg3 {
    background-image:url(../images/pexels-aleksejs-bergmanis-681335.jpg);
    min-height: 100%;
}

/*Parralax Styling Over
*/
section {
    height: 200px;
    text-align: center;
    padding: 30px;
    vertical-align: center;
}

.section-light {
    background-color: lightgray;
}

.section-dark {
    background-color: #282E34;
    color: #DDD;
}

.imTitle {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 7px;
    text-transform:uppercase;
}

.title {
    background-color: black;
    padding-bottom: 18px;
    padding-top: 18px;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    border-bottom: 2px solid white;
}

.titleAccent {
    width: 200px;
    height: 3px;
    background-color: white;
}

.trans {
    background-color: transparent;
    color: white;
}